<md-dialog aria-label="Add project" style="min-width: 50%">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{name}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content class="md-padding">
        <div style="max-width:800px; margin: 5px; max-height:810px; font-size: 23px">Received on: <span style="float: right">12.10.16</span></div>
        <md-divider ></md-divider>
        <div style="max-width:800px; margin: 5px; max-height:810px; font-size: 23px">Current status: <span style="float: right">{{status}}</span></div>
        <md-divider ></md-divider>
        <div style="max-width:800px; margin: 5px; max-height:810px; font-size: 23px">Will be completed on: <span style="float: right">{{finishDate}}</span></div>
        <md-divider ></md-divider>
        <div style="max-width:800px; margin: 5px; max-height:810px; font-size: 23px">Administartor: Comentary....<span style="float: right">{{description}}</span></div>
                <md-divider ></md-divider>
        <div style="max-width:800px; margin: 5px; max-height:810px; font-size: 23px">User: Comentary....<span style="float: right">{{description}}</span></div>
      </md-content>

    </md-dialog-content>
</md-dialog>
