<div class="md-display-1" style="text-align: center; margin: 10px; color: rgb(79, 79, 79);">Balance</div>
<div style="background-color: transparent;">
  <md-content class="md-padding" layout-xs="column" layout="row" style="background-color: transparent;">
    <div flex-xs flex-gt-xs layout="row" layout-xs="column">
      <md-card>
        <img ng-src="{{imagePath}}" style="max-width: 100%; height: auto !important;" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Pricing style 1</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The images above are only for demo.
          </p>
          <p>
            This is a place for the pricing plan, offers, etc...
          </p>
          <p>
            There could be images/videos here as well
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Action 1</md-button>
          <md-button class="md-raised md-accent">Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img ng-src="{{imagePathTwo}}" style="max-width: 100%; height: auto !important;" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Pricing style 2</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The images above are only for demo. This is a place for the pricing plan, offers, etc...There could be images/videos here as well
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised md-primary">Action 1</md-button>
          <md-button class="md-raised md-accent">Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
